@import './variables.scss';
@import '~element-ui/lib/theme-default/index.css';

#app {
  width: 100%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

input::-webkit-input-placeholder {
  color: #bdbae0;
  font-size: .875rem;
}
input:-moz-placeholder {
  color: #bdbae0;
  font-size: .875rem;
}
input::-moz-placeholder {
  color: #bdbae0;
  font-size: .875rem;
}
input:-ms-input-placeholder {
  color: #bdbae0;
  font-size: .875rem;
}

