
$header-bg: #3c8dbc;
$header-tit: #367fa9;
$leftbar-bg: #003469;
$leftbar-text: #8aa4af;
$mainnav-bg: #003469;
$leftbar-active: #1e282c;
$table-top: #3c8dbc;
$white-color: #fff;
$gray-color: #555;
$border-bottom: #f4f4f4;

/* 定义字体大小 */
$font24: 1.5rem;
$font20: 1.25rem;
$font12: .75rem;

$cel: center;

$font-title: 2rem;
$font-md-title: 20px;
$font-sm-title: 18px;
$font-tab-tit: 1rem;
$font-text: 0.88rem;

$font-menu: 1.2rem;
$font-btn-primary: 1.4rem;
$font-btn: 1.2rem;
